<section class="flex flex-col items-center px-20 py-5" style="width: calc(100vw - 20rem);">
  <!-- <div class="self-start">
    <h1 class="text-lg font-medium" style="font-family: Poppins;">
      Bienvenido: JUAN DANIEL SANCHEZ PISFIL (Administrador)
    </h1>
  </div> -->
  <div class="flex justify-center py-7">
    <p class="text-lg font-semibold">¿Que sección desea revisar?</p>
  </div>
  <div class="flex flex-wrap self-center max-w-2xl gap-10 gap-y-5">
    <a class="relative block w-48 pb-5 overflow-hidden border shadow-lg h-36 group rounded-xl" routerLink="../users">
      <div class="overflow-hidden aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl">
        <img class="object-cover transition-transform duration-300 ease-in-out h-36 group-hover:scale-105 rounded-xl"
          src="img/users.png"
          alt="Image Description">
      </div>
      <div class="absolute bottom-0 start-0 end-0">
        <div class="p-2 px-5 font-semibold text-center text-gray-800 bg-white">
          Ver usuarios
        </div>
      </div>
    </a>
    <a class="relative block w-48 overflow-hidden border shadow-lg h-36 group rounded-xl" routerLink="../registration">
      <div class="overflow-hidden aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl">
        <img class="object-cover transition-transform duration-300 ease-in-out h-36 group-hover:scale-105 rounded-xl"
          src="/img/registers.png"
          alt="Image Description">
      </div>
      <div class="absolute bottom-0 start-0 end-0">
        <div class="p-2 px-5 font-semibold text-center text-gray-800 bg-white">
          Ver matrículas
        </div>
      </div>
    </a>
    <a class="relative block w-48 overflow-hidden border shadow-lg h-36 group rounded-xl" routerLink="../classrooms">
      <div class="overflow-hidden aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl">
        <img class="object-cover h-32 transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl"
          src="/img/classroom.png"
          alt="Image Description">
      </div>
      <div class="absolute bottom-0 start-0 end-0">
        <div class="p-2 px-5 font-semibold text-center text-gray-800 bg-white">
          Ver aulas
        </div>
      </div>
    </a>
    <a class="relative block w-48 overflow-hidden border shadow-lg h-36 group rounded-xl" routerLink="../courses">
      <div class="overflow-hidden aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl">
        <img class="object-cover w-full transition-transform duration-300 ease-in-out h-36 group-hover:scale-105 rounded-xl"
          src="/img/courses.png"
          alt="Image Description">
      </div>
      <div class="absolute bottom-0 start-0 end-0">
        <div class="p-2 px-5 font-semibold text-center text-gray-800 bg-white">
          Ver cursos
        </div>
      </div>
    </a>
    <a class="relative block w-48 overflow-hidden border shadow-lg h-36 group rounded-xl" routerLink="../qualifications">
      <div class="overflow-hidden aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl">
        <img class="object-cover w-full transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl"
          src="/img/qualifications.png"
          alt="Image Description">
      </div>
      <div class="absolute bottom-0 start-0 end-0">
        <div class="p-2 px-5 font-semibold text-center text-gray-800 bg-white">
          Ver notas
        </div>
      </div>
    </a>
    <a class="relative block w-48 overflow-hidden border shadow-lg h-36 group rounded-xl" routerLink="../comments">
      <div class="overflow-hidden aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl">
        <img class="object-cover w-full transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl"
          src="/img/comments.png"
          alt="Image Description">
      </div>
      <div class="absolute bottom-0 start-0 end-0">
        <div class="p-2 px-5 font-semibold text-center text-gray-800 bg-white">
          Ver comentarios
        </div>
      </div>
    </a>
    <a class="relative block w-48 overflow-hidden border shadow-lg h-36 group rounded-xl" routerLink="../help">
      <div class="overflow-hidden aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl">
        <img class="object-cover transition-transform duration-300 ease-in-out h-36 group-hover:scale-105 rounded-xl"
          src="/img/help.png"
          alt="Image Description">
      </div>
      <div class="absolute bottom-0 start-0 end-0">
        <div class="p-2 px-5 font-semibold text-center text-gray-800 bg-white">
          Ayuda
        </div>
      </div>
    </a>
  </div>
</section>
