<section class="bg-gray-0" style="height:calc(100vh - 100px);">

  <div class="flex flex-col items-center py-5 space-y-14">
    <div class="shadow-lg bg-white rounded-lg border w-[28rem] px-5 py-5">
      <div class="px-5 pb-2 border-b-2"><h1 class="font-bold text-heath-800">Información General</h1></div>
      <div class="px-5 pt-2 space-y-1 text-sm font-medium">
        <div class="flex justify-between ">
          <div class="flex gap-3">
            <p class="text-gray-500">Año Lectivo:</p><p>2024</p>
          </div>
          <div class="flex gap-3">
            <p class="text-gray-500">Nivel de estudios:</p><p>Secundaria</p>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="flex gap-3">
            <p class="text-gray-500">Grado:</p><p>4°</p>
          </div>
          <div class="flex gap-3">
              <p class="text-gray-500">Sección:</p><p>B</p>
          </div>
          <div class="flex gap-3">
              <p class="text-gray-500">Turno:</p><p>Tarde</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h1 class="text-xl font-bold">Mis cursos</h1>
      <a routerLink="details-course" class="shadow-lg bg-white border-l-8 border-l-heath-950 rounded-lg flex items-center justify-between w-[28rem] px-5 py-2 my-5 hover:bg-gray-50">
        <div class="leading-5">
          <h1 class="font-semibold">Nombre del Curso</h1>
          <p class="text-[13px] font-semibold text-gray-500">En curso</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide gray lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
      </a>
      <a routerLink="details-course" class="shadow-lg bg-white border-l-8 border-l-heath-950 rounded-lg flex items-center justify-between w-[28rem] px-5 py-2 my-5 hover:bg-gray-50">
        <div class="leading-5">
          <h1 class="font-semibold">Nombre del Curso</h1>
          <p class="text-[13px] font-semibold text-gray-500">En curso</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide gray lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
      </a>
      <a routerLink="details-course" class="shadow-lg bg-white border-l-8 border-l-heath-950 rounded-lg flex items-center justify-between w-[28rem] px-5 py-2 my-5 hover:bg-gray-50">
        <div class="leading-5">
          <h1 class="font-semibold">Nombre del Curso</h1>
          <p class="text-[13px] font-semibold text-gray-500">En curso</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide gray lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
      </a>
      <a routerLink="details-course" class="shadow-lg bg-white border-l-8 border-l-heath-950 rounded-lg flex items-center justify-between w-[28rem] px-5 py-2 my-5 hover:bg-gray-50">
        <div class="leading-5">
          <h1 class="font-semibold">Nombre del Curso</h1>
          <p class="text-[13px] font-semibold text-gray-500">En curso</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide gray lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
      </a>
      <a routerLink="details-course" class="shadow-lg bg-white border-l-8 border-l-heath-950 rounded-lg flex items-center justify-between w-[28rem] px-5 py-2 my-5 hover:bg-gray-50">
        <div class="leading-5">
          <h1 class="font-semibold">Nombre del Curso</h1>
          <p class="text-[13px] font-semibold text-gray-500">En curso</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide gray lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
      </a>
    </div>


  </div>
</section>
