<div class="m-3 mt-0 transition-all ease-out opacity-0 hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:max-w-lg sm:w-full sm:mx-auto">
  <div class="flex flex-col bg-white border shadow-sm pointer-events-auto rounded-xl">
    <div class="flex items-center justify-between px-10 py-4 border-b">
      <h3 class="font-bold text-gray-800">Registrar Matrícula - Estudiante</h3>
      <button type="button" class="flex items-center justify-center text-sm font-semibold text-gray-800 border border-gray-300 rounded-lg size-7 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#student-registration">
        <span class="sr-only">Close</span>
        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg>
      </button>
    </div>
    <div>
      <div class="flex flex-col px-10 pt-4 pb-6">
        <form class="sm:block">
          <div class="relative">
            <button type="submit" class="absolute inset-y-0 flex items-center pointer-events-none ps-4">
              <svg class="flex-shrink-0 text-gray-400 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
            </button>
            <input type="text" class="block w-full px-4 py-2 text-sm border-gray-300 rounded-lg ps-11 focus:border-heath-900 focus:ring-heath-900 disabled:opacity-50 disabled:pointer-events-none" placeholder="Buscar Estudiante">
          </div>
        </form>
      </div>
    </div>

    <form class="">
      <div class="flex flex-col px-10 pt-4 pb-6">
        <div>
          <label class="text-sm font-medium">Nombres Completos:</label>
          <div class="flex gap-5 mt-2">
            <input type="text" class="w-full px-4 py-2.5 text-sm capitalize placeholder:normal-case border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese sus nombres">
            <input type="text" class="w-full px-4 py-2.5 text-sm capitalize placeholder:normal-case border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingreses sus apellidos">
          </div>
        </div>
        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Correo:</label>
            <input type="text" class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su correo">
          </div>
        </div>

        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">DNI:</label>
            <input type="text" class="block w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su DNI">
          </div>
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Fecha de nacimiento:</label>
            <input type="date" class="w-full px-4 py-2.5 text-sm -tracking-tighter border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none">
          </div>
        </div>

        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Grado:</label>
            <input type="number" class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su grado">
          </div>
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Nivel de Estudios:</label>
            <input type="text" class="w-full capitalize px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ej: Primaria, Secundaria">
          </div>
        </div>
        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Teléfono:</label>
            <input type="text" class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su télefono">
          </div>
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Dirección:</label>
            <input type="text" class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su dirección">
          </div>
        </div>

      </div>

      <div class="flex items-center justify-end px-10 py-3 border-t gap-x-3">
        <button type="reset" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-800 bg-white border border-gray-300 rounded-lg shadow-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#student-registration">Cancelar</button>
        <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-semibold text-white border rounded-lg border-heath-800 bg-heath-800 hover:bg-heath-900 disabled:opacity-50 disabled:pointer-events-none">Registar</button>
      </div>
    </form>
  </div>
</div>
