<div class="m-3 mt-0 transition-all ease-out opacity-0 hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:max-w-lg sm:w-full sm:mx-auto">
  <div class="flex flex-col bg-white border shadow-sm pointer-events-auto rounded-xl">
    <div class="flex items-center justify-between px-10 py-4 border-b">
      <h3 class="font-bold text-gray-800">Agregar Estudiante</h3>
      <button type="button" class="flex items-center justify-center text-sm font-semibold text-gray-800 border border-gray-300 rounded-lg size-7 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#add-student">
        <span class="sr-only">Close</span>
        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg>
      </button>
    </div>
    <form>
      <div class="flex flex-col px-10 pt-4 pb-6">
        <div>
          <label class="text-sm font-medium">Nombres Completos:</label>
          <div class="flex gap-5 mt-2">
            <input type="text" class="w-full px-4 py-2.5 text-sm capitalize placeholder:normal-case border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese sus nombres">
            <input type="text" class="w-full px-4 py-2.5 text-sm capitalize placeholder:normal-case border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingreses sus apellidos">
          </div>
        </div>
        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Correo:</label>
            <input type="text" class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su correo">
          </div>
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Contraseña:</label>
            <div class="relative">
              <input type="password" value="12345" id="hs-toggle-password" class="w-full pl-4 pr-10 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su contraseña">
              <button type="button" data-hs-toggle-password='{
                "target": "#hs-toggle-password"
              }' class="absolute top-0 mx-4 my-3.5 end-0 rounded-e-md">
              <svg class="flex-shrink-0 text-gray-500 size-3.5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                <path class="hs-password-active:hidden" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
                <path class="hs-password-active:hidden" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
                <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
              </svg>
            </button>
            </div>
          </div>
        </div>

        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">DNI:</label>
            <input type="text" class="block w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su DNI">
          </div>
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Fecha de nacimiento:</label>
            <input type="date" class="w-full px-4 py-2.5 text-sm -tracking-tighter border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none">
          </div>
        </div>

        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Grado:</label>
            <input type="number" class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su grado">
          </div>
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Sección:</label>
            <input type="text" class="w-full uppercase placeholder:normal-case px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su sección">
          </div>
        </div>

        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Nivel de Estudios:</label>
            <input type="text" class="w-full capitalize px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ej: Primaria, Secundaria">
          </div>
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Turno:</label>
            <select class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none">
              <option value="">Mañana</option>
              <option value="">Tarde</option>
            </select>
          </div>
        </div>

        <div class="flex gap-5 mt-4">
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Teléfono:</label>
            <input type="text" class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su télefono">
          </div>
          <div class="w-full space-y-2">
            <label class="text-sm font-medium">Dirección:</label>
            <input type="text" class="w-full px-4 py-2.5 text-sm border-gray-300 rounded-lg focus:border-heath-800 focus:ring-heath-800 disabled:opacity-50 disabled:pointer-events-none" placeholder="Ingrese su dirección">
          </div>
        </div>

      </div>

      <div class="flex items-center justify-end px-10 py-3 border-t gap-x-3">
        <button type="reset" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-800 bg-white border border-gray-300 rounded-lg shadow-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#add-student">Cancelar</button>
        <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-semibold text-white border rounded-lg border-heath-800 bg-heath-800 hover:bg-heath-900 disabled:opacity-50 disabled:pointer-events-none">Registar</button>
      </div>
    </form>
  </div>
</div>
