<section class="my-10 min-h-64">

  <h1 class="mx-24 font-bold">Docente</h1>
  <div class="flex items-center gap-5 px-10 py-2 mx-24 mt-4 border border-l-8 rounded-lg border-l-heath-900">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round size-10"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>
    <p class="font-semibold ">Nombre del docente</p>
  </div>

  <h1 class="mx-24 mt-10 font-bold">Horario</h1>
  <div class="flex items-center gap-5 px-10 py-2 mx-24 mt-4 border border-l-8 rounded-lg border-l-heath-900">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-clock size-10"><path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/><path d="M16 2v4"/><path d="M8 2v4"/><path d="M3 10h5"/><path d="M17.5 17.5 16 16.3V14"/><circle cx="16" cy="16" r="6"/></svg>
    <div class="text-sm font-semibold leading-5">
      <p>Martes: 00:00 - 00:00</p>
      <p>Viernes: 00:00 - 00:00</p>
    </div>
  </div>
</section>
